.container {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.error {
  color: red;
  font-size: 1.2rem;
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  .container {
    flex-direction: row-reverse;
  }
}
